<div class="body">
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" [(ngModel)]="name"  placeholder="Your name" required="">
					<input type="text" name="txt" [(ngModel)]="username"  placeholder="User name" required="">
					<input type="email" name="email" [(ngModel)]="email" placeholder="Email" required="">
					<input type="password" name="pswd" [(ngModel)]="password" placeholder="Password" required="">
					<button style="margin-top: 0;" (click)="signup()">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="email" [(ngModel)]="username" placeholder="Email or username" required>
					<input type="password" name="pswd" [(ngModel)]="password" placeholder="Password" required="">
					<button (click)="handleLogin()">Login</button>
				</form>
			</div>
	</div>
</div>