<div class="_body_ " [ngClass]="{'hiden': sharedDataService.loading===false}">
  <div class="water"></div>
</div>
<div class='container'>
  <div id="navigation-bar">
    <nav>
      <ul>
        <li ><a href="#" id="logo">DocTor</a></li>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/doctor" routerLinkActive="active">Our Doctor</a></li>
        <li><a routerLink="/appoinment" routerLinkActive="active">Appoinment</a></li>
  
        <li *ngIf="sharedDataService.user===undefined"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li style="cursor: pointer;" *ngIf="sharedDataService.user!==undefined " (click)="addActiveClass()"><a>{{sharedDataService.user.username}}</a></li>
        <a href="#" id="menu-icon"></a>
      </ul>
    </nav>
  </div>
  <div class='content'>
    <div style="width: 100%;" class="router">
      <router-outlet></router-outlet>
    </div>
    
    <div class="logout-form" [class.active]="isActiveClass">
        <div style="display: flex;flex-direction: column;justify-content: center; align-items: center;" class="form">
          <h3 style="color: aliceblue;">Log out!</h3>
          <button style="background-color: cadetblue;" class="button-62" role="button" (click)="logout()">Log out</button>
          <button style="border-radius: 50%;width: 50px; margin-top: 50px; background-color: deeppink;" class="button-63" (click)="close()" role="button">X</button>
        </div>
    </div>

  </div>


  
</div>



